version: "2.2"
services: 
  
  fe1: 
    image: gcc:9.3.0
    network_mode: host
    ports:
      - 6969:6969
      - 4039:4039
    volumes: 
      - ./:/app
    working_dir: /app/
    command: make deploy_fe1

  fe2: 
    image: gcc:9.3.0
    network_mode: host
    ports:
      - 6970:6970
      - 4040:4040
    volumes: 
      - ./:/app
    working_dir: /app/
    command: make deploy_fe2

  fe3: 
    image: gcc:9.3.0
    network_mode: host
    ports:
      - 6971:6971
      - 4041:4041
    volumes: 
      - ./:/app
    working_dir: /app/
    command: make deploy_fe3

  server: 
    image: gcc:9.3.0
    network_mode: host
    depends_on:
      - fe1
      - fe2
      - fe3
    ports:
      - 8888:8888
    volumes: 
      - ./:/app
    working_dir: /app/
    command: make run-server
