# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode

.idea/

Instant-Messenger/cmake-build-debug/

Instant-Messenger/build/client.app.dSYM/Contents/Info.plist

Instant-Messenger/build/proxy_fe.app.dSYM/Contents/Info.plist

Instant-Messenger/build/server.app.dSYM/Contents/Info.plist

.DS_Store

Instant-Messenger/messages
